@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

.billing--nav {
    font-family: 'Inter';
    padding-left: 1.7rem;
    margin-top: 1.23rem;
    border-bottom: 1px solid  rgb(238, 238, 238);
}

.billing--overview--page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.75rem;
}