@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

.billing--nav {
    font-family: 'Inter';
    margin-left: 1.7rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(214, 214, 214);
}