.nav-button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(110, 110, 128);
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-button:hover {
    color: #3b3b43;
}