@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

.custom-button {
    margin: 0.5rem;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  font-family: 'Inter', Helvetica, sans-serif;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-button.green {
  background-color: #10A37F; /* Verde brillante */
  color: white;
}

.custom-button.green:hover:not(:disabled) {
  background-color: #1A7F64;
}

.custom-button.gray {
  background-color: rgb(236, 236, 241); /* Gris */
  color:rgb(53, 55, 64);
}

.custom-button.gray:hover:not(:disabled) {
  background-color: #E3E3EB;
}
