.background {
    background-color: #F5F5F5;
}

.content {
    display: flex;
    height: calc(100vh - 54px);
}

.content-info {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 100%;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    border-radius: 0.5rem;
    border: rgb(238, 238, 238) solid 1px;
}