.nav-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: #333;
    padding: 0.4rem;
    border-radius: 0.4rem;
    transition: all 0.3s ease;
    min-height: 2.4rem;
}

.nav-profile-icon {
    width: 25px;
    height: 25px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(32, 33, 35);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 8px;
    text-align: center;
}

.nav-profile-text {
    font-size: 0.88rem;
    font-family: 'Inter', sans-serif;
    color: rgb(53, 55, 64);
    font-weight: 600;
}

.nav-profile-button {
    box-sizing: border-box;
    border: #33333300;
    border-radius: 0.6rem;
    background-color:#f6f6f6;
    cursor: pointer;
}

.nav-profile:hover {
    background-color: rgb(227, 227, 235);
}

.nav-profile-chevron {
    width:15px;
    height: 15px;
    margin-left: 0.4rem;
}