@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

.nav {
    display: flex;
    font-size: 0.88rem;
    justify-content: space-between;
    background-color: #F5F5F5;
    min-height: 54px;
    width: auto;
    padding: 0 0.13rem;
    margin-right: 1rem;
}

.nav-right {
    padding: 0 0.13rem;
    color: rgb(110, 110, 128);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.nav-left {
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
}

.nav-right_settings-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.nav-right_settings {
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color:rgb(227, 227, 235);
}

.nav-left p {
    font-size: 1rem;
    font-family: 'Inter';
    color: rgb(172, 172, 190);
    font-weight: 600;
}

.nav-right_profile {
    width: 26px;
    height: 26px;
    font-family: 'Inter';
    border-radius: 50%;
    background-color: rgb(79, 103, 113);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    margin-right: 8px;
    text-align: center;
    aspect-ratio: 1/1;
}