@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

.nav {
    display: flex;
    font-size: 0.88rem;
    justify-content: space-between;
    background-color: #F5F5F5;
    min-height: 54px;
    width: auto;
    padding: 0 0.13rem;
    margin-right: 1rem;
}

.nav-right {
    padding: 0 0.13rem;
    color: rgb(110, 110, 128);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.nav-left {
    margin-left: 1.5rem;
    display: flex;
    justify-content: flex-start;
}

.nav-right_settings-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.nav-right_settings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color:rgb(227, 227, 235);
}